/**********************
* New Customized style for 2018 Yale-New 
* Haven Teacher Institute
* Static site.
*************************/

.offscreen {
	width: 1px;
	height: 1px;
	position: absolute;
	left: -999px;
	overflow: hidden;
	z-index: -999;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-menu{
	width: 100%;
	border:none;
	padding: 0;
}

.navbar-light .navbar-nav .show > .nav-link{
	color: #fff;
	background-color: #2B50A3;
}
.dropdown-divider{
	margin: 0;
}
.dropdown-item{
	padding: .5rem 1.5rem;
	color: #2B50A3;
	font-size: 18px;
	background-color: #f2f2f2;
	text-align: left;
	white-space: normal;
}
.dropdown-item:hover{
	background-color: #2B50A3;
	color: #fff;
}
.dropdown-toggle::after{
	content:none;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	background-color: #2B50A3;
	color: #fff;
}

main a{
	color:#2b50a3;
	text-decoration: underline;
}
main a:hover, footer a:hover{
	text-shadow:1px 0 0 currentColor;
	color:#2b50a3;
}
h2.br-title a{
	text-decoration:none;
	}
	
h2.br-title a:hover{
	text-shadow:1px 0 0 currentColor;
	color:#2b50a3;
}
.footer-region{
	padding:0 3%;
}
.region-content{
	padding-left:3%;
}

footer a{
	color:#2B50A3;
}

footer a:hover{
	text-decoration:underline;
	font-weight:normal;
}
.footer-region{
	margin:0 1%;
}

/* Main Menu style*/
navbar-collapse{
	background-color: #f2f2f2;
	display: block;
}
.navbar{
	padding: .5rem 0;
}
.ynhti-nav{
	justify-content: space-between;
	width: 100%;
}
.dropdown-menu{
	margin-top:0 !important;
	width: auto;
	min-width: 14.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav a{
	padding:0.5em 1em;
	color: #2B50A3;
	display: block;
	align-self: center;
	width: 100%;
	font-size: 18px;
	background-color:#f2f2f2;
}
.navbar-expand-lg .navbar-nav .nav-item:hover > a{
	background-color: #2B50A3;
	color: #fff;
}

.navbar-expand-lg .navbar-nav a.dropdown-item:last-child{
	margin:0;
}

.navbar-expand-lg .navbar-nav a.dropdown-item{
	background-color: #2B50A3;
	color: #fff;
	margin: 4px 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav a:hover{
	background-color: #f2f2f2;
	color: #2B50A3;
}

.nav-item{
	margin-right:2px;
	margin-left: 2px;
	flex-grow: 1;
	background-color: #f2f2f2;
	display: flex;
}

/* buttons */
.btn-primary{
	background-color: #f2f2f2;
	font-size: 18px;
	border-color:#e4e4e4;
	color: #00853E;
	border-radius: 0; 
	font-family: "YaleNew";
	text-decoration: none;
}
.btn-primary:hover {
	color: #00853e;
	background-color: #f2f2f2;
	border-color: #e4e4e4;
	text-shadow: none;
}
.btn-secondary{
	background-color:#f2f2f2;
	color:#504d49;
}
.gsc-input{
	width:350px;
	max-width:100%;
}

/* Search */
.form-inline {
	justify-content: right;

}

/* global fonts*/
body, p, span, div{
	font-family:Helvetica, "TheSans";
	font-size: 16px;
	line-height: 24px;
	color: #504D49;
}

a:focus{
	outline:2px solid #000;
}

h1{
	font-family: "YaleNew";
	font-size:36px;
	color: #2b50a3;
}

h2{
	font-family: "YaleNew";
	font-size:28px;
	color: #2b50a3;
	line-height: 32px;
	font-weight: 500 !important;
}

h2.alt{
	font-family: "YaleNew";
	font-size:24px;
	color: #00853E;
}

h2.tc{
	font-family: Helvetica,"TheSans";
	font-size:18px;
	color: #504D49;
}

h3{
	font-family: Helvetica,"TheSans";
	font-weight: bold;
	font-size:16px;
	color: #504D49;
}

h4{
	font-family: "YaleNew";
	font-size:18px;
	color: #504D49;
}

h4.tcl{
	font-family: "YaleNew";
	font-size:18px;
	font-weight: bold;
	color: #504D49;
}

h4.tcl:hover{
	color: #2b50a3;
}

h5{
	font-family: "TheSans";
	font-size: 13px;
	color: #00853E;
}

/* ======== Curricular Resource Pages style ===========*/
.table_content_label, h2.tc{
	border:1px solid #504D49;
	border-left:none;
	border-right:none;
	line-height: 1.13;
	margin: 10px 0;
	padding:0.5rem 1rem;
	display:block;
	text-align:center;
	text-transform:uppercase;
	font-family:"TheSans";
	font-size: 20px;
	color: #504D49;
}
h1.volume-title{
	font-size:33px;
	margin:0.5rem 0;
}
.main_content h2.unit-title, h2.guide-title{
	border-top: 1px solid #504D49;
	padding-top:12px;
	margin-top:1em;
}

/* Aside blocks style*/
.block-block{
	border:1px solid #504d49;
}
.accent h2.block-title{
	color:#00853E;
}

/* Footer style */
footer{
	background-color:#f2f2f2;
}
.resources-menu .ft-menu-list{
	display:inline-block;
	width:48%;
}
.footer-menu{
	margin:1em 0;
}
.footer-menu li{
	list-style:none;
}
footer label{
	color:#504D49;
	font-family: "YaleNew";
	font-size:28px;
}

/* Feedback legend on Units */

.feedback{
border:4px solid #f2f2f2;
}
a{
transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
p.fdback{
	color:#00853e;
	font-weight:bold;
	margin:0;
	line-height:1.3;
	}
	div.fbwrap{
	display:inline-block;
	margin-right:2%;
	width:78%;
	}
a.givefeedback{
background-color:#00853e;
color:#fff;
text-decoration:none;
padding:8px 10px;
width:auto;
display:inline-block;
word-wrap:break-word;
font-weight:bold;
border:1px solid #00853e;
}

a.givefeedback:hover{
background-color:#fff;
color:#00853e;
text-decoration: none;
text-shadow: none;
}

/* Breadcrumb */
.tr_breadcrumb a{
	text-decoration:none;
}
/* New Curricular Index Page */
.cr_row{
	clear:both;
	padding-bottom:1em;
}
.cr_row:not(:last-child){
	border-bottom:1px solid #aaa6a2;
}
.share_btn{
	border: 0;
    background-color:#fff;
}

.btn-def{
	font-family:"YaleNew";
	background-color:#2b50a3;
	color:#fff !important;
	font-size:18px;
	text-decoration:none;
	padding:10px 2em;
	margin-bottom:1rem;
	display:block;
	max-width:180px;
	width:100%;
}
.btn-def:hover{
	background-color:#286dc0;
	text-decoration:none;
	color:#fff !important;
	font-weight:normal;
}
.main_content .fas, .main_content .fa{
	color:#2b50a3
}

/* Volume & Units */
h2.unit-title{
	color: #2b50a3;
	font-family: "YaleNew";
	font-size: 28px;
}
h2.guide-title{
	font-family: "YaleNew";
	font-size: 24px;
	color: #00853e;
	font-weight: normal;
}
.tc_list{
 font-family: "YaleNew";
 font-size: 16px;
 line-height: 24px;
 color: #504D49;
 font-weight: normal;
}
.tc_list a{
	 color: #504D49;
	text-decoration: none;
}
.tc_list a:hover{
	text-decoration: underline;
}
.content-nav-button{
	margin:1em 0;
}
.prv-btn, .next-btn, .backtotop{
	background-color:#f2f2f2;
	color:#2b50a3;
	font-family:"YaleNew";
	border:1px solid #e4e4e4;
}
.backtotop{
	float: right;
}

#backtotop {
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
     cursor: pointer;
}

.prv-btn.disabled, .next-btn.disabled{
	background-color:#fff;
	color:#00853e;
	border:1px solid #e4e4e4;
}
.prv-btn.disabled i, .next-btn.disabled i{
	color:#00853e;
}
p.author, p.author_loc, p.author_pdate{
	margin:0;
}
.table_units{
	margin-left: -2em;
}
p.tc_author{
	color:#2b50a3;
	font-family:"YaleNew"
}

 p.tc_author:hover{
	color:#504d49;
	text-shadow:1px 0 0 currentColor;
}

.guide-title{
	font-family: "YaleNew";
	font-size: 18px;
	font-weight: normal;
}
.tc_lists a{
	text-decoration:none;
	color:#504d49;
}
.tc_lists a:hover{
	color:#2b50a3;
	font-weight:normal;
}
.table_author{
	color:#2b50a3;
}
.volumes-links{
	display:flex;
	flex-wrap:wrap;
	margin-bottom:10px;
	justify-content:space-between;
}
.volumes-links a{
	color:#2b50a3;
	background-color:#f2f2f2;
	margin:0 1px;
	flex-grow:1;
}

/* Unit section */
.tc_lists_guide{
	padding-bottom:1em;
}
.tc_lists_guide a{
	text-decoration:none;
	color:#1f1406;
	font-family:"YaleNew";
}
.tc_lists_guide a:hover{
	text-decoration:underline;
	font-weight:normal;
	color:#00853e;
	text-shadow:1px 0 0 currentColor;
}

.tc_active a{
position:relative;
color:#00853e;
font-weight: bold;
}
.tc_active a:after{
 content: "";
 width: 0; 
 height: 0; 
 border-bottom: 5px solid transparent;
 border-top: 5px solid transparent; 
 border-left: 5px solid #2f2f2f; 
 font-size: 0;
 line-height: 0;
 display:inline-block;
 margin-left:7px;
}
.next-unit-guide{
	margin-top:1.5em;
	padding:1em 0;
	border-top:1px solid #504d49;
}
.next-unit-guide p.next-guide{
	margin:0;
	font-weight:bold;
}
/* Articles & Essay Style */
.article_author,
.article_table_contents_header{
	font-weight: bold;
}
.article_table_contents{
padding:1rem 0;
border-top:1px solid #504d49;
}
.article_table_contents p{
margin:0;
}
blockquote{
	margin: 16px 40px;
}
.article-row{
padding:1rem 0 3.5em;
border-top:1px solid #504d49;
clear:both;
}
/* ========== Search ==========*/
#siteSearchBox{
	min-width:300px;
	max-width:400px;
	border:#009 solid 1px;
	text-align:center;
	padding:10px;
}
#siteSearchBox h1{
	font-size: 120%;
}
#siteSearch{
	min-height:40px;
	display:block;
}
#siteSearchOptions, #siteSearchBox h1, #siteSearchBox p{
	padding:0!important;
	margin:0!important;
}
#siteSearchOptions{
	list-style-type:none;
	text-align:left;
	max-width: 144px;
	display:inline-block;
}
.gsib_b{display:none;}
.gsc-search-button-v2 svg{
	fill:#2b50a3 !important;
	width:18px !important;
	height:18px !important;
}
.gsc-search-button-v2{
	background-color:#f2f2f2 !important;
	border:1px solid #aaa6a2 !important;
	padding:2px 10px !important;
	margin-left:-2px !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input{
	padding-right:0 !important;
	border:1px solid #aaa6a2 !important;
}
#siteSearch{
	position:relative !important;
	margin-left:-6px !important;
}
.gsib_a{
	padding: 0 !important;
}
/* Google Site Search */
.gsc-control-cse, .gsc-control-cse-en{
	padding:0!important;
	margin:0!important;
}
.gsc-control-cse{
	background-color:transparent!important;
	border-color:transparent!important;
}
.gsc-input{
	background:transparent!important;
}
.gsc-resultsbox-visible{
	text-align:left!important;
}
/* Gatsby Bootstrap overwrite */
.navbar{
padding:0;
margin:0.2rem 0;
}
	
a{
color:#2b50a3;
}
a:hover{
color:#2b50a3;
text-decoration:underline;
}

/* Mobile Designs and Nav */
@media screen and (min-width:740px){
.mobile-nav{
display:none;
}
.site-branding img{
max-width:100%;
}
.search-block{
position:absolute;
top:2.5em;
margin-right:1.5em;
right:0;
}}

header{
position:relative;
}

@media screen and (max-width:740px){
.navbar-toggler{
background-color:#2B50A3;
color:#fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.site-branding img{
width:200px;
}
.navbar{
position:unset !important;
}
.navbar-toggler{
position:absolute;
top:0;
right:0;
margin-top: 1.5em;
}
div.fbwrap, a.givefeedback{
	display: block;
}
}
@media screen and (max-width:640px){
	.resources-menu .ft-menu-list{
		display: block;
	}
}